#root .addTeamMemberButton {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 600;
  color: #007672;
  transition: all;
  padding: 20px;
  display: flex;
  gap: 10px; }
  #root .addTeamMemberButton:focus-visible, #root .addTeamMemberButton:focus, #root .addTeamMemberButton:hover, #root .addTeamMemberButton:active {
    border: none;
    box-shadow: none;
    outline: none; }
  #root .addTeamMemberButton:hover {
    background-color: #e2f4ea; }

#root .addTeamMemberIcon {
  font-size: 50px; }

#root .buttonText {
  width: 150px;
  text-align: start; }

#root .memberItem {
  display: flex;
  gap: 16px;
  padding: 20px;
  cursor: pointer;
  width: 50%; }
  #root .memberItem:hover {
    background-color: #e2f4ea; }

#root .infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

#root .memberImage {
  border-radius: 100%;
  width: 50px;
  height: 50px; }

#root .deleteIcon {
  font-size: 50px;
  fill: #fd7e41; }

#root .username {
  font-weight: 600; }

#root .role {
  color: #455b57; }

#root .teamList {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    #root .teamList {
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%; } }

#root .app {
  margin: 80px; }

#root .headerText {
  font-size: 32px;
  padding: 20px;
  color: #999999; }

#root .componentsWrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    #root .componentsWrapper {
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%; } }

#root .input {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%; }

#root .list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }

#root .dropdown-item:active {
  background-color: #007672 !important; }

#root .dropdown-menu {
  width: 260px; }

#root .emptyList {
  display: flex;
  flex-direction: column;
  margin: 16px;
  font-size: 12px; }

#root .notFoundInfo {
  font-weight: 600;
  color: #007672; }

#root .toggleButton {
  background-color: transparent;
  border: none;
  color: black;
  color: #999999;
  align-self: center; }
  #root .toggleButton:focus-visible, #root .toggleButton:focus, #root .toggleButton:hover, #root .toggleButton:active {
    border: none;
    box-shadow: none;
    outline: none; }
  #root .toggleButton:hover {
    background-color: #e2f4ea; }
