#root {
  .input {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
  }

  .list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .dropdown-item:active {
    background-color: #007672 !important;
  }

  .dropdown-menu {
    width: 260px;
  }

  .emptyList {
    display: flex;
    flex-direction: column;
    margin: 16px;
    font-size: 12px;
  }

  .notFoundInfo {
    font-weight: 600;
    color: #007672;
  }
}